/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.lock
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_static.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/guzzlehttp/promises/CHANGELOG.md
vendor/guzzlehttp/promises/README.md
vendor/guzzlehttp/promises/src/RejectionException.php
vendor/guzzlehttp/promises/vendor-bin/php-cs-fixer/composer.json
vendor/guzzlehttp/promises/vendor-bin/phpstan/composer.json
vendor/guzzlehttp/promises/vendor-bin/psalm/composer.json
vendor/guzzlehttp/psr7/CHANGELOG.md
vendor/guzzlehttp/psr7/README.md
vendor/guzzlehttp/psr7/src/AppendStream.php
vendor/guzzlehttp/psr7/src/FnStream.php
vendor/guzzlehttp/psr7/src/Header.php
vendor/guzzlehttp/psr7/src/HttpFactory.php
vendor/guzzlehttp/psr7/src/InflateStream.php
vendor/guzzlehttp/psr7/src/Message.php
vendor/guzzlehttp/psr7/src/MessageTrait.php
vendor/guzzlehttp/psr7/src/MimeType.php
vendor/guzzlehttp/psr7/src/MultipartStream.php
vendor/guzzlehttp/psr7/src/PumpStream.php
vendor/guzzlehttp/psr7/src/Query.php
vendor/guzzlehttp/psr7/src/Request.php
vendor/guzzlehttp/psr7/src/Response.php
vendor/guzzlehttp/psr7/src/Rfc7230.php
vendor/guzzlehttp/psr7/src/ServerRequest.php
vendor/guzzlehttp/psr7/src/Stream.php
vendor/guzzlehttp/psr7/src/StreamDecoratorTrait.php
vendor/guzzlehttp/psr7/src/StreamWrapper.php
vendor/guzzlehttp/psr7/src/Uri.php
vendor/guzzlehttp/psr7/src/UriNormalizer.php
vendor/guzzlehttp/psr7/src/UriResolver.php
vendor/guzzlehttp/psr7/src/Utils.php
vendor/laravel/breeze/composer.json
vendor/laravel/breeze/src/Console/InstallCommand.php
vendor/laravel/breeze/src/Console/InstallsInertiaStacks.php
vendor/laravel/framework/CHANGELOG.md
vendor/laravel/framework/composer.json
vendor/laravel/framework/src/Illuminate/Cache/CacheManager.php
vendor/laravel/framework/src/Illuminate/Cache/DatabaseLock.php
vendor/laravel/framework/src/Illuminate/Cache/DatabaseStore.php
vendor/laravel/framework/src/Illuminate/Collections/Traits/EnumeratesValues.php
vendor/laravel/framework/src/Illuminate/Console/CacheCommandMutex.php
vendor/laravel/framework/src/Illuminate/Console/Command.php
vendor/laravel/framework/src/Illuminate/Console/composer.json
vendor/laravel/framework/src/Illuminate/Console/Concerns/CallsCommands.php
vendor/laravel/framework/src/Illuminate/Console/Concerns/InteractsWithIO.php
vendor/laravel/framework/src/Illuminate/Console/Concerns/PromptsForMissingInput.php
vendor/laravel/framework/src/Illuminate/Console/ConfirmableTrait.php
vendor/laravel/framework/src/Illuminate/Console/Contracts/NewLineAware.php
vendor/laravel/framework/src/Illuminate/Console/GeneratorCommand.php
vendor/laravel/framework/src/Illuminate/Console/OutputStyle.php
vendor/laravel/framework/src/Illuminate/Console/Scheduling/ManagesFrequencies.php
vendor/laravel/framework/src/Illuminate/Console/Scheduling/ScheduleTestCommand.php
vendor/laravel/framework/src/Illuminate/Console/View/Components/Line.php
vendor/laravel/framework/src/Illuminate/Contracts/Filesystem/Filesystem.php
vendor/laravel/framework/src/Illuminate/Database/Console/DatabaseInspectionCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/FreshCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/MigrateCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/MigrateMakeCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/RefreshCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/TableCommand.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Factories/Factory.php
vendor/laravel/framework/src/Illuminate/Database/Events/DatabaseRefreshed.php
vendor/laravel/framework/src/Illuminate/Database/Schema/PostgresSchemaState.php
vendor/laravel/framework/src/Illuminate/Foundation/Application.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/AboutCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/ComponentMakeCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/DocsCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/ListenerMakeCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/ModelMakeCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/ObserverMakeCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/PolicyMakeCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/ServeCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/TestMakeCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/VendorPublishCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Events/Dispatchable.php
vendor/laravel/framework/src/Illuminate/Foundation/Providers/ArtisanServiceProvider.php
vendor/laravel/framework/src/Illuminate/Foundation/Providers/FoundationServiceProvider.php
vendor/laravel/framework/src/Illuminate/Foundation/Testing/Concerns/InteractsWithDatabase.php
vendor/laravel/framework/src/Illuminate/Foundation/Vite.php
vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
vendor/laravel/framework/src/Illuminate/Http/Request.php
vendor/laravel/framework/src/Illuminate/Queue/QueueServiceProvider.php
vendor/laravel/framework/src/Illuminate/Redis/Connections/Connection.php
vendor/laravel/framework/src/Illuminate/Redis/Connections/PredisConnection.php
vendor/laravel/framework/src/Illuminate/Routing/Console/ControllerMakeCommand.php
vendor/laravel/framework/src/Illuminate/Support/composer.json
vendor/laravel/framework/src/Illuminate/Support/Facades/Http.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Request.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Storage.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Vite.php
vendor/laravel/framework/src/Illuminate/Support/helpers.php
vendor/laravel/framework/src/Illuminate/Support/Str.php
vendor/laravel/framework/src/Illuminate/Validation/Concerns/ValidatesAttributes.php
vendor/laravel/framework/src/Illuminate/Validation/Rules/File.php
vendor/laravel/pint/builds/pint
vendor/laravel/sail/runtimes/8.0/Dockerfile
vendor/laravel/sail/runtimes/8.1/Dockerfile
vendor/laravel/sail/runtimes/8.2/Dockerfile
vendor/league/mime-type-detection/CHANGELOG.md
vendor/league/mime-type-detection/composer.json
vendor/league/mime-type-detection/LICENSE
vendor/league/mime-type-detection/src/ExtensionMimeTypeDetector.php
vendor/league/mime-type-detection/src/FinfoMimeTypeDetector.php
vendor/league/mime-type-detection/src/GeneratedExtensionToMimeTypeMap.php
vendor/mockery/mockery/CHANGELOG.md
vendor/mockery/mockery/composer.json
vendor/mockery/mockery/composer.lock
vendor/mockery/mockery/docs/reference/spies.rst
vendor/mockery/mockery/library/Mockery/Generator/DefinedTargetClass.php
vendor/mockery/mockery/library/Mockery/Loader/RequireLoader.php
vendor/mockery/mockery/library/Mockery/Reflector.php
vendor/nette/utils/composer.json
vendor/nette/utils/readme.md
vendor/nette/utils/src/Iterators/CachingIterator.php
vendor/nette/utils/src/SmartObject.php
vendor/nette/utils/src/Utils/ArrayHash.php
vendor/nette/utils/src/Utils/ArrayList.php
vendor/nette/utils/src/Utils/Arrays.php
vendor/nette/utils/src/Utils/Callback.php
vendor/nette/utils/src/Utils/Finder.php
vendor/nette/utils/src/Utils/Image.php
vendor/nette/utils/src/Utils/Paginator.php
vendor/nette/utils/src/Utils/Reflection.php
vendor/nette/utils/src/Utils/Strings.php
vendor/nette/utils/src/Utils/Validators.php
vendor/nunomaduro/collision/composer.json
vendor/nunomaduro/collision/src/Adapters/Phpunit/Printers/DefaultPrinter.php
vendor/nunomaduro/collision/src/Adapters/Phpunit/State.php
vendor/nunomaduro/collision/src/Adapters/Phpunit/Style.php
vendor/nunomaduro/collision/src/Adapters/Phpunit/Subscribers/EnsurePrinterIsRegisteredSubscriber.php
vendor/phpunit/phpunit/ChangeLog-10.2.md
vendor/phpunit/phpunit/composer.json
vendor/phpunit/phpunit/phpunit.xsd
vendor/phpunit/phpunit/src/Event/Emitter/DispatchingEmitter.php
vendor/phpunit/phpunit/src/Event/Emitter/Emitter.php
vendor/phpunit/phpunit/src/Event/Events/Test/Issue/ConsideredRisky.php
vendor/phpunit/phpunit/src/Event/Events/Test/Issue/DeprecationTriggered.php
vendor/phpunit/phpunit/src/Event/Events/Test/Issue/ErrorTriggered.php
vendor/phpunit/phpunit/src/Event/Events/Test/Issue/NoticeTriggered.php
vendor/phpunit/phpunit/src/Event/Events/Test/Issue/PhpDeprecationTriggered.php
vendor/phpunit/phpunit/src/Event/Events/Test/Issue/PhpNoticeTriggered.php
vendor/phpunit/phpunit/src/Event/Events/Test/Issue/PhpWarningTriggered.php
vendor/phpunit/phpunit/src/Event/Events/Test/Issue/WarningTriggered.php
vendor/phpunit/phpunit/src/Event/Events/Test/Outcome/Errored.php
vendor/phpunit/phpunit/src/Event/Events/Test/Outcome/Failed.php
vendor/phpunit/phpunit/src/Event/Events/Test/Outcome/MarkedIncomplete.php
vendor/phpunit/phpunit/src/Event/Facade.php
vendor/phpunit/phpunit/src/Event/TypeMap.php
vendor/phpunit/phpunit/src/Event/Value/Telemetry/GarbageCollectorStatus.php
vendor/phpunit/phpunit/src/Event/Value/Telemetry/Php81GarbageCollectorStatusProvider.php
vendor/phpunit/phpunit/src/Event/Value/Telemetry/Php83GarbageCollectorStatusProvider.php
vendor/phpunit/phpunit/src/Event/Value/Test/Phpt.php
vendor/phpunit/phpunit/src/Event/Value/Test/Test.php
vendor/phpunit/phpunit/src/Event/Value/Test/TestMethod.php
vendor/phpunit/phpunit/src/Framework/Exception/Error.php
vendor/phpunit/phpunit/src/Framework/Exception/Exception.php
vendor/phpunit/phpunit/src/Framework/Exception/UnknownClassException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Api/Api.php
vendor/phpunit/phpunit/src/Framework/MockObject/Api/Method.php
vendor/phpunit/phpunit/src/Framework/MockObject/Api/MockedCloneMethod.php
vendor/phpunit/phpunit/src/Framework/MockObject/Api/UnmockedCloneMethod.php
vendor/phpunit/phpunit/src/Framework/MockObject/Builder/Identity.php
vendor/phpunit/phpunit/src/Framework/MockObject/Builder/InvocationMocker.php
vendor/phpunit/phpunit/src/Framework/MockObject/Builder/InvocationStubber.php
vendor/phpunit/phpunit/src/Framework/MockObject/Builder/MethodNameMatch.php
vendor/phpunit/phpunit/src/Framework/MockObject/Builder/ParametersMatch.php
vendor/phpunit/phpunit/src/Framework/MockObject/Builder/Stub.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/CannotUseOnlyMethodsException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/ClassAlreadyExistsException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/ClassIsEnumerationException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/ClassIsFinalException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/ClassIsReadonlyException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/ConfigurableMethodsAlreadyInitializedException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/DuplicateMethodException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/InvalidMethodNameException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/OriginalConstructorInvocationRequiredException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/ReturnValueNotConfiguredException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/SoapExtensionNotAvailableException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/UnknownClassException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/UnknownTraitException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Exception/UnknownTypeException.php
vendor/phpunit/phpunit/src/Framework/MockObject/Generator.php
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/deprecation.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/intersection.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/mocked_class.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/mocked_method.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/mocked_method_never_or_void.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/mocked_static_method.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/proxied_method.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/proxied_method_never_or_void.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/trait_class.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/wsdl_class.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Generator/wsdl_method.tpl
vendor/phpunit/phpunit/src/Framework/MockObject/Invocation.php
vendor/phpunit/phpunit/src/Framework/MockObject/InvocationHandler.php
vendor/phpunit/phpunit/src/Framework/MockObject/Matcher.php
vendor/phpunit/phpunit/src/Framework/MockObject/MethodNameConstraint.php
vendor/phpunit/phpunit/src/Framework/MockObject/MockBuilder.php
vendor/phpunit/phpunit/src/Framework/MockObject/MockClass.php
vendor/phpunit/phpunit/src/Framework/MockObject/MockMethod.php
vendor/phpunit/phpunit/src/Framework/MockObject/MockMethodSet.php
vendor/phpunit/phpunit/src/Framework/MockObject/MockObject.php
vendor/phpunit/phpunit/src/Framework/MockObject/MockTrait.php
vendor/phpunit/phpunit/src/Framework/MockObject/MockType.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/AnyInvokedCount.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/AnyParameters.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/InvocationOrder.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/InvokedAtLeastCount.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/InvokedAtLeastOnce.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/InvokedAtMostCount.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/InvokedCount.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/MethodName.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/Parameters.php
vendor/phpunit/phpunit/src/Framework/MockObject/Rule/ParametersRule.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub/ConsecutiveCalls.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub/Exception.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub/ReturnArgument.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub/ReturnCallback.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub/ReturnReference.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub/ReturnSelf.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub/ReturnStub.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub/ReturnValueMap.php
vendor/phpunit/phpunit/src/Framework/MockObject/Stub/Stub.php
vendor/phpunit/phpunit/src/Framework/MockObject/TemplateLoader.php
vendor/phpunit/phpunit/src/Framework/MockObject/Verifiable.php
vendor/phpunit/phpunit/src/Framework/TestCase.php
vendor/phpunit/phpunit/src/Framework/TestRunner.php
vendor/phpunit/phpunit/src/Logging/TestDox/NamePrettifier.php
vendor/phpunit/phpunit/src/Logging/TestDox/TestMethod/TestResultCollector.php
vendor/phpunit/phpunit/src/Metadata/Metadata.php
vendor/phpunit/phpunit/src/Metadata/MetadataCollection.php
vendor/phpunit/phpunit/src/Metadata/Parser/AttributeParser.php
vendor/phpunit/phpunit/src/Runner/PhptTestCase.php
vendor/phpunit/phpunit/src/Runner/TestResult/Collector.php
vendor/phpunit/phpunit/src/Runner/TestResult/Facade.php
vendor/phpunit/phpunit/src/Runner/TestResult/TestResult.php
vendor/phpunit/phpunit/src/Runner/Version.php
vendor/phpunit/phpunit/src/TextUI/Application.php
vendor/phpunit/phpunit/src/TextUI/Configuration/Cli/Configuration.php
vendor/phpunit/phpunit/src/TextUI/Configuration/Configuration.php
vendor/phpunit/phpunit/src/TextUI/Configuration/Merger.php
vendor/phpunit/phpunit/src/TextUI/Configuration/Xml/DefaultConfiguration.php
vendor/phpunit/phpunit/src/TextUI/Configuration/Xml/Loader.php
vendor/phpunit/phpunit/src/TextUI/Configuration/Xml/PHPUnit.php
vendor/phpunit/phpunit/src/TextUI/Output/Default/ResultPrinter.php
vendor/phpunit/phpunit/src/TextUI/Output/SummaryPrinter.php
vendor/phpunit/phpunit/src/TextUI/ShellExitCodeCalculator.php
vendor/phpunit/phpunit/src/Util/PHP/Template/TestCaseClass.tpl
vendor/phpunit/phpunit/src/Util/PHP/Template/TestCaseMethod.tpl
vendor/phpunit/phpunit/src/Util/Reflection.php
vendor/psy/psysh/src/Readline/Hoa/Protocol.php
vendor/psy/psysh/src/Shell.php
vendor/symfony/error-handler/Debug.php
vendor/symfony/event-dispatcher/DependencyInjection/RegisterListenersPass.php
vendor/symfony/finder/Finder.php
vendor/symfony/finder/Iterator/RecursiveDirectoryIterator.php
vendor/symfony/http-foundation/Response.php
vendor/symfony/http-foundation/ServerBag.php
vendor/symfony/http-kernel/DataCollector/DumpDataCollector.php
vendor/symfony/http-kernel/Kernel.php
vendor/symfony/http-kernel/Profiler/FileProfilerStorage.php
vendor/symfony/mime/composer.json
vendor/symfony/routing/composer.json
vendor/symfony/routing/Matcher/Dumper/CompiledUrlMatcherDumper.php
vendor/symfony/string/Inflector/EnglishInflector.php
vendor/symfony/translation/composer.json
vendor/symfony/var-dumper/Caster/SplCaster.php
vendor/symfony/var-dumper/composer.json
vendor/symfony/var-dumper/Dumper/ContextProvider/SourceContextProvider.php
vendor/symfony/yaml/composer.json
